
.items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.item{
    background-color: indianred;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.image{
    width: 30px;
    height: 30px;
    margin: 35px;
}
.succeded{
    background-color: seagreen;
}
